<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<script>
                        var $ = jQuery = require("jquery")
                </script>
                <script src="node_modules/jquery/dist/jquery.min.js"></script>
                <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
                <script src="semantic/dist/semantic.min.js"></script>
		<script type="text/javascript" src="node_modules/box-model-inspector/dist/box-model-inspector.js"></script>

                <title>Worker</title>

		<style>
		html{height:100%;}
		body {
		background: #141414; 
			height:100%;
			display:flex;
			flex-direction:column;
		}
		.wContainer{
			oversize-y:auto;
			flex : 1;
		}
		webview {
			height:100%
		}
		.topmenu {
			margin-bottom: 0px !important;
		}
		.result {
			overflow-x:scroll;
		}
		.drag {
			-webkit-user-select: none;
			-webkit-app-region: drag;
		}

		.nodrag {
			-webkit-app-region: no-drag;
		}

		</style>


	</head>
	<body>
		<div>
		<div class="ui inverted menu topmenu drag">
                        <a class="item ">Worker</a>
                        <div class="menu nodrag">
				
			</div>
                        <div class="right menu nodrag">
                                <a id="scrapeSettings" class="item"> <i class="settings icon"></i></a>
                                <a id="scrapeClose" class="item"><i  class="delete icon"></i></a>
                        </div>
                </div>
		</div>
		<div class="wContainer">
		<webview id="mainView" src="https://worker.mturk.com/projects/330XZFCZ8S0GZ44F2EZEMFJAJ4JXTX/tasks/3RDTX9JRTYZ2VARY4PFOQXJTS5V97B?assignment_id=3GLB5JMZFYT0DDDAZBUM7QB0QRZGDZ&ref=w_pl_prvw" preload="./workInject.js" disablewebsecurity></webview>
		</div>
		<script>
			require('./workRenderer.js')
		</script> 

	</body>
</html>
